DATABASE_URL="postgresql://postgres:@localhost:5432/ignite?schema=public"
NODE_ENV=development
SERVER_PORT=3001
JWT_SECRET=example
FRONT_END_ORIGIN="http://localhost:3000"
COOKIE_DOMAIN="localhost"
HOSTNAME="0.0.0.0"

GOOGLE_API_KEY="<YOUR GOOGLE KEY>"